<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<base href="/">
	<title><%= title %></title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<%- include('../common/style'); %>
 	<link rel="stylesheet" href="css/views/topic.css">
  </head>
  <body >
   
   	<%- include('../common/header', {page: 'index'}); %>
  
	<div class="w-768">
		<div class="topic-detail">
	    
	        <h1 class="topic-detail-tit"><%= data.title  %></h2>
	       
	        <div class="topic-detail-label">
	        	<span class="date"><%= data.date  %></span>
	        </div>
	         <div class="topic-detail-content">
	          <%- data.content  %>
	        </div>
				
		</div>
	</div>

    <%- include('../common/footer'); %>

	<script src="js/require.min.js"></script>
	<script src="js/config.js"></script>
	<script>

	    // require(['views/topic-add'],function(topic){
	    // 	topic.init();
	    // });
	</script>
  </body>
</html>
