<% if(data.length > 0) {%>
  <% data.forEach(function(data,index){ %>
      <li class="topic-content">
        <h2 class="topic-tit"><a href="javascript:;"><%= data.title  %></a></h2>
        <p class="topic-sum">
          <a href="javascript:;"><%= data.summary  %></a>
        </p>
        <div class="topic-bottom">
        	<span class="date"><%= data.date  %></span>

        	<div class="btns-group">
	        	<a href="topic/add?id=<%= data._id %>" class="btn btn-mini btn-primary" >编辑</a>
	        	<a href="javascript:;" class="btn btn-mini btn-danger" data-id="<%= data._id %>" data-action="del">删除</a>
        	</div>
        </div>
      </li>
  <% }) %>
<% }else{%>

<% } %>